# Sistema
Thumbs.db
desktop.ini
.DS_Store

# Editores
.vscode/
.idea/

# Temporales
*.tmp
*.log

# No versionar fuentes de exportación pesadas / internas
DATOS/
EXPORTAR-FUSION-V2-GLB.txt
assets/models/fusion-v2.skp
assets/models/fusion-v2_metadata.json
